@page "/counter"

<h1>Fibonacci sequence</h1>

<p>Fibonacci sequence: @sequence</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string sequence = "1 1";
    private long currentFibNo = 1;
    private long nextFibNo = 1;


    private void IncrementCount()
    {
        long temp = currentFibNo + nextFibNo;
        currentFibNo = nextFibNo;
        nextFibNo = temp;
        sequence = sequence + " " + temp.ToString();
    }
}
